.App {
    text-align: center;
}

.header {
    width: 100%;
    background-color: rgba(235, 97, 97, 0.856);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input {
    padding-left: 7px;
    padding:7px 0 7px 7px;
}

.header button {
    padding: 7px;
}

.todo-item {
    width: 30%;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
    background: #0af02e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.todo-item button {
    position: absolute;
    right: 15px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
}

.main-content {
    margin-top: 15px;
    height: 500px;
    overflow-y: auto;
}